* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
img,
button,
div {
  outline: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

button {
  color: #222;
  cursor: pointer;
}
button:active{
  opacity: .8;
}
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #444;
  overflow-x: hidden;
  transform: scale(.7) translateY(-120px);
}
.qrContianer {
  height: 500px;
  background: rgb(122, 122, 122);
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  margin-top: 3px;
}
#qrbox {
  height: 100%;
}
.qrContianer > div {
  box-sizing: initial;
  border-radius: 2rem;
  position: absolute;
  border: solid 100px rgba(0, 0, 0, 0.3);
  border-left: 380px solid rgba(0, 0, 0, 0.3);
  border-right: 380px solid rgba(0, 0, 0, 0.3);
  top: 50%;
  left: 50.5%;
  transform: translate(-50%, -50%);
  width: 370px;
}
.qrContianer > div > img{
  width: 100%;
  display: block;
  border-radius: 2rem;
}
#qrimage{
  position: absolute;
  top: 10px;
  left: 50.5%;
  width: 62%;
  transform: translateX(-50%);
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

#qrimage>img{
  width: 390px;
  border-radius: 2rem;
  aspect-ratio: 1;
}


.btns {
  margin-top: 5px;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

#scanqr,
#genqr,
#copy,
#downloadBtn {
  margin: 0.5rem 5px;
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 0 2rem;
  height: 40px;
  font-size: 20px;
  border-radius: 0.5rem;
  border: none;
  background: rgb(67, 202, 255);
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}
#copy {
  display: none;
}
#download{
  width: 100%;
  height: 80%
}
#download > img{
  height: 100%
}

#result {
  word-break: break-all;
  min-width: 70%;
  max-width: 95%;
  margin: 10px auto;
  background-color: #fff;
  z-index: 2;
  height: 50px;
  font-size: 18px;
  color: rgb(49, 49, 49);
  padding: 1rem;
  border-radius: .5rem;
  -webkit-user-select: auto;
  -ms-user-select: auto;
  user-select: text;
  outline: none;
  border: solid 2px #43CAFF;
}

#result:focus{
  font-size: 120%;
  height: 120px;
}

#border {
  position: absolute;
  top: .5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 490px;
  aspect-ratio: 1;
  margin: 0 auto;
}

#border > img {
  width: 100%;
  aspect-ratio: 1;
  display: block;
}


input {
  padding: 10px;
  border-radius: 20px;
  border: 2px solid steelblue;
  font-size: 1.5rem;
  letter-spacing: 2px;
  outline: none;
}

#qrcode{
  width: 390px;
  border-radius: 2rem;
  aspect-ratio: 1;
  background: #fff;
  position: absolute;
  top: 3.6rem;
  left: 50.4%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-self: center;
}
#qrcode > img{
  width: 90%;
  border-radius: .5rem;
  margin: 0 auto;
  display: block;
}


@media only screen and (max-width: 400px) {
  body {
    transform: scale(1) translateY(200px);
  }
  .qrContianer{
    height: 230px;
    margin: 0 auto;
  }
  #border{
    width: 180px;
    left: 49%;
    top: 8px;
  }
  #qrcode{
    display: none;
    width: 144px;
    top: 26px;
    left: 49.5%;
    border-radius: .7rem;
  }
  .qrContianer{
    height: 190px;
  }
  .qrContianer>div{
    left: 49.5%;
    top: 98px;
    overflow: hidden;
    width: 138px;
    height: 138px;
  }

  #qrcode canvas{
    width: 90%;
    border-radius: .5rem;
    margin: 0 auto;
    display: block;
  }

  textarea{
    height: 100px !important;
    width: 90%;
    font-size: 24px !important;
  }
}