* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
::-webkit-scrollbar {
    display: none;
}
button {
  color: #222;
  cursor: pointer;
}
body {
  background: #444;
  display: flex;
  flex-direction: column;
  background: #fff;
  overflow-x: hidden;
}

img,button,div{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none
}
#qrbox {
  border-radius: 0.5rem;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200vh;
  background: rgba(0, 0, 0, 0.2);
}
.options {
  color: #333;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.options img {
  border-radius: 1rem;
  padding: 5px;
  cursor: pointer;
  margin: 5px 1rem;
  width: 32px;
  height: 32px;
  z-index: 2;
}

.btns {
  z-index: 3;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
}

#scanqr,
#copy {
  margin: 0.5rem 10px;
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 0 2rem;
  height: 40px;
  font-size: 20px;
  border-radius: 0.5rem;
  border: none;
  background: rgb(67, 202, 255);
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

#flash {
  border-radius: 1rem;
}
#copy {
  margin: 0.5rem auto;
}
#clip {
  z-index: 2;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  width: 76%;
  /* width: 40%; */
  /* height: 300px; */
  aspect-ratio: 1 / 1;
  /* border: 4px green solid; */
  border-radius: 1.5rem;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
}
#gallery {
  position: absolute;
  top: 410px;
  left: 50%;
  transform: translateX(-50%);
  background: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  font-size: 13px;
  padding: 10px 15px;
  z-index: 2;
  cursor: pointer;
  color: #333;
}
#gallery > img {
  width: 18px;
  margin: 0 3px;
  aspect-ratio: 1 / 1;
}
.border{
  aspect-ratio: 1;
  z-index: 2;
  width: 100%;
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
}
.border>img{
  width: 100%;
  height: 100%;
}

#result {
  z-index: 2;
  text-align: center;
  min-width: 255px;
  width: fit-content;
  max-width: 100%;
  margin: 10px auto;
  background-color: pink;
  color: #222;
  padding: 1rem 2rem;
  border-radius: 1rem;
}
