* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
::-webkit-scrollbar {
    display: none;
}
button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #222;
  cursor: pointer;
}
body {
  margin: 0 autox;
  width: 100%;
  background: #444;
  display: flex;
  flex-direction: column;
  overflow-x: hidden !important;
}

img,button,div{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
  outline: none;

}
#qrbox {
  border-radius: 0.5rem;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 200vh;
  background: rgba(0, 0, 0, 0.2);
}
.options {
  color: #333;
  z-index: 1;
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.options>div{
  width: fit-content;
  display: flex;
  justify-content: flex-end;
}
.options>img{
  width: 10% !important;
}
.options img {
  padding: 5px;
  cursor: pointer;
  margin: 5px 1rem;
  width: 13%;
  aspect-ratio: 1;
  z-index: 2;
}

.btns {
  z-index: 3;
  margin: 0 auto;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

#scanqr,
#copy {
  width: 50%;
  margin: 0.5rem 10px;
  display: flex;
  align-items: center;
  justify-self: center;
  padding: 0 2rem;
  height: 40px;
  font-size: 20px;
  border-radius: 0.5rem;
  border: none;
  background: rgb(67, 202, 255);
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

#flash {
  border-radius: 4rem;
}
#copy {
  margin: 0.5rem auto;
}
#clip {
  z-index: 2;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  width: 76%;
  /* width: 40%; */
  /* height: 300px; */
  aspect-ratio: 1 / 1;
  /* border: 4px green solid; */
  border-radius: 1.5rem;
  top: 160px;
  left: 50%;
  transform: translateX(-50%);
}
#gallery {
  word-break: break-all;
  position: absolute;
  top: 530px;
  left: 50%;
  transform: translateX(-50%);
  background: #ffff;
  display: flex;
  width: 55%;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  padding: 10px;
  z-index: 2;
  font-size: 14px ;
  cursor: pointer;
  color: #333;
  min-width: fit-content;
}
#gallery > img {
  width: 10%;
  margin: 0 3px;
  aspect-ratio: 1 / 1;
}
.border{
  aspect-ratio: 1;
  z-index: 2;
  width: 100%;
  position: absolute;
  top: 107px;
  left: 50%;
  transform: translateX(-50%);
}
.border>img{
  margin: 0 auto;
  margin-left: 5px;
  margin-top: 5px;
  width: 95%;
  height: 100%;
}

#result {
  z-index: 2;
  user-select: text;
  -webkit-user-select: text; 
  -ms-user-select: text; 
  min-width: 300px;
  width: 95%;
  margin: 10px auto;
  background-color: pink;
  color: #222;
  padding: 1rem 2rem;
  border-radius: 1rem;
}
